@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-body: "Open Sans", cursive;
  --bg-color: #000000;
  --text-base: 2.1rem;     /* 21px */
  --text-big: 3rem;        /* 30px */
  --text-small: 1.5rem;    /* 15px */

}

@layer base {
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }

  body {
    font-family: var(--font-body);
    font-size: var(--text-base);
    background-color: var(--bg-color);
    line-height: 1.43;
    color: #fff;
  }

}

.title-underline {
  display: inline-block; 
  position: relative;
}

.title-underline::after {
  content: '';
  display: block;
  width: 100%; /* ahora sí solo será el ancho del texto */
  height: 0.2rem;
  background-color: white;
  margin-top: 0.8rem;
}
