@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: "Open Sans", cursive;
  --bg-color: #000000;
  --font-size-base: 2.1rem;     /* 21px */
  --font-size-big: 3rem;        /* 30px */
  --font-size-small: 1.5rem;    /* 15px */
}

@layer base {
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }

  body {
    font-family: var(--font-body);
    font-size: var(--font-size-base);
    background-color: var(--bg-color);
    line-height: 1.43;
    color: white;
  }
}
